#!/bin/sh

SDK_PATH=~/Library/Android/sdk/build-tools/28.0.3/lib/ #android sdk 路径

#别名
KEY_ALIAS=yuyue_changguan
ALIAS_PASSWORD=wusdj78Djw
STORE_PASSWORD=wusdj78Djw
KEYSTORE_PATH="/Users/taisam/app/keystore/yuyue_changguan.keystore"

#重签名
#APP_NAME=test6  #当前apk
#input_file="./${app_name}.apk"
RESIGN_ENABLE=true #是否重签名
RESIGN_VERIFY=false #是否校验签名
AUTO_INSTALL_APK=false #是否自动将重签名后的app安装到手机上


##N相关
RN_BUNDLE_ENABLE=true #RN资源替换
BUNDLE_IN_PATH="/Users/taisam/RN/b-app/bundle/android"  #bundle打包后的目录
BUNDLE_OUT_PATH="./tmp"  #apk解压临时目录
BUNDLE_OUT_PATH_DELETE=true #重签名后删除临时文件


## RN 资源 后端打的bundle压缩包
#BUNDLE_DOWNLOAD=http://192.168.1.5:82/b-apks/bundle