#!/bin/sh
NEW_MOBILEPROVISION="EnterPrise_Distribution.mobileprovision" # Distribution配置文件
CODESIGN_IDENTITIES="iPhone Distribution: xxxx yyyy & Technology Co., Ltd."  # Distribution版证书的名字
ENTITLEMENTS="Entitlements/production/Entitlements.plist" # 授权文件 不需要修改该字段

NEW_MOBILEPROVISION_DEV="./dev/b_dev.mobileprovision" # Developer配置文件
CODESIGN_IDENTITIES_DEV="Apple Development: shui You (CTWB8TX8AW)"  # Developer版证书的名字
ENTITLEMENTS_DEV="./dev/b_dev_entitlements.plist" # 授权文件 不需要修改该字段
GET_TASK_ALLOW=true  #是否打包Developer true重签名为Developer的包 false重签名为Distribution的包
AUTO_INSTALL_IPA=false #是否自动将重签名后的app安装到手机上


## RN 资源 后端打的bundle压缩包
BUNDLE_DOWNLOAD=http://192.168.1.5:82/b-apks/bundle